
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    font-size: 30px;
  }
  li a {
    display: block;
    width: 60px;
  }
  .content{
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
    width:100px;
    height:180px;
    background-color: bisque;
  }
  .line{
   
  margin: 1rem;
  padding: 2rem 2rem;
  
  }
  .content {
    display: inline-block;
  }
  .para{
    display: inline-block;
  }